/* ./src/index.css */
body{
    display:grid;
    background:url("utils/wideboi.png") no-repeat center center fixed;
    background-color:rgb(37,37,37);
    background-size:cover;

}
header{
}
.header{
    display:flex;
    align-items:center;
    margin:0;
    padding:0;
    background-color:rgb(25,25,25);
    height:5em;
    border-radius:0.5em;
}
.walletlink{
min-width:10%;
font-family:Arial, sans-serif;
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
border: 2px solid transparent;
border-radius: 0.5rem;
background: rgb(39, 39, 39);
color: rgb(255, 255, 255);
cursor: pointer;
user-select: none;
font-size: 1.2rem;
transition: filter 200ms ease-in-out 0s;
width:20%;
margin-left:2%;
font-size:1.1em;
height:1.7em;
}
.walletlink:hover{
    background-color:rgb(30,30,30);
}
.mainpage{
    margin-left:40%
}
#ind{
    display:flex;
    position:fixed;
    margin-left:70%;
    margin-right:5%;
    width:10%;
    background-color:brown;
}
.logo{
    position:fixed;
    font:Arial, sans-serif;
    display:flex;
    color:white;
    margin-left:87%;
    width:200px;
    height:70px;
}
.logo img{
    width:70px;
    height:70px;
}
.logo p{
    margin-top:13%;
    font-family:Arial, sans-serif;
}
.namebutton{
    background-color:rgb(30,30,30);
    color:white;
    border:2px solid transparent;
}
.flex{
}footer {
    height:5vw; 
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}
.bbuttoner{
    display:block;
}
.bbuttoner label{
    margin-left:40%;
}
#amount{
    margin-left:40%;
}
.button_call_function{
    font-family:Arial, sans-serif;
    font-size:2em;
    color:white;
    border: 2px solid transparent;
    background-color:rgb(37,37,37,0.7);
    margin-left:38%;
    margin-top:15%;
    padding: 28px 80px;
    border-radius: 8px;
    transition: transform .2s;
}
.button_call_function:hover{
    transform: scale(1.2);
    background-color:rgb(37,37,37);
}
footer a{
    font:Arial,sans-serif;
    font-size:1.5em;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    margin:3em;
}

.float-container {
    display: flex;
}
.float-child {
font-family:Arial, sans-serif;
font-size:1em;
border-radius: 5px;
margin: 6px;
}

.LinkedIn:hover{
    color: rgb(144, 190, 243);
    border-radius: 7px;
}
.Github:hover{
    color: rgb(144, 190, 243);
    border-radius: 7px;
}
